# User-specific files
.Ruserdata
personal/

# History files
.Rhistory
.Rapp.history

# Session and output files
.DS_Store
.RData
.RDataTmp
*.log
*.pdf
report.tex
report_files/

# External data
data/

# Misc
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
docs/
po/*~
rsconnect/
